* {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin:0;
}

body {
  background-color: black; /* fallback color */
  background-image: url("../images/sunset.jpg");
  background-position: center;
  background-size: cover;
  }

 /*
.row {
  width: 100%;
}*/

.link {
  color: #1161ed;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

/* Navbar */

#topnav {
  overflow: hidden;
  position: sticky;
  top: 0;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
  transform-style:preserve-3d;
  z-index: 1;
}

#topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#topnav a:hover {
  text-decoration: underline;
}

#topnav a.active {
  background-color: white;
  text-decoration: underline;
}

#topnav .icon {
  display: none;
}

#img-icon {
  padding: 0%;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

#topnav i {
  margin-right: 1em;
}

#topnav .profile {
  float: right;
}

#topnav .home:hover {
  text-decoration: none;
}

/* Search 

#topnav .search-form{
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  display: inline-flex;
  width: 700px;
  max-width: 50%;
  border-radius: 1em;
}

.search {
  display: inline-flex;
  align-items: center;
  width: 130px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search:focus {
  width: 100%;
} */

/* Contact 

.contact {width:100%;
  display: block;
  height:70%;
  margin: 0 auto;
  color: #FFF;
}

.contact-container {width:960px; height:auto; margin: 0 auto; padding: 50px 0;}

.contact .contact-container form input,
.contact .contact-container form textarea {
	width:100%;
	height:30px;
	padding:5px 10px;
	font-size: 12px;
	color:#999;
  resize: vertical;
  letter-spacing:1px;
	background: #FFF;
	border:1px solid #999;
	margin-bottom:25px;
  -webkit-transition:all .1s ease-in-out;
	-moz-transition:all .1s ease-in-out;
	-ms-transition:all .1s ease-in-out;
	-o-transition:all .1s ease-in-out;
  transition:all .1s ease-in-out;
}

.contact .contact-container form input:focus,
.contact .contact-container form textarea:focus {
	border:1px solid #000;
}

.contact .contact-container form textarea {
	height:150px;}

.contact .contact-container form .submit {
	width:100%;
	padding:5px 10px;
  color: #FFF;
  font-size: 12px;
	letter-spacing:1px;
	background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
	height:40px;
	text-transform:uppercase;
	letter-spacing:1px;
	
	-webkit-transition:all .1s ease-in-out;
	-moz-transition:all .1s ease-in-out;
	-ms-transition:all .1s ease-in-out;
	-o-transition:all .1s ease-in-out;
	transition:all .1s ease-in-out;}

.contact .contact-container form .submit:hover {
	
  background-image: linear-gradient(0, #2376ae 0%, #c16ecf 100%);
	cursor:pointer;}

.contact .contact-container form .required {
	color:#b43838;
}
*/

/* Profile */

#profile-container {
  width: 100%;
  min-width: 300px;
}

/* Page Container */

.page-container {
  margin: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #FFF;
}

.page-container input, .page-container textarea, .page-container label, .page-container select, .page-container h1, .page-container h2 {
  display: flex;
}

.page-container h1, .page-container h2, .page-container h3, .page-container label {
  margin: 2%;
  margin-bottom: 0%;
}

.page-container input, .page-container select, .page-container textarea {
  padding:5px 10px;
  margin: 1%;
  min-height:30px;
  font-size: 12px;
	color:#999;
  letter-spacing:1px;
	background: #FFF;
	border:1px solid #999;
  -webkit-transition:all .1s ease-in-out;
	-moz-transition:all .1s ease-in-out;
	-ms-transition:all .1s ease-in-out;
	-o-transition:all .1s ease-in-out;
  transition:all .1s ease-in-out;
  display: inline-flex;
}

.page-container textarea {
  resize: vertical;
  display: flex;
  width: 96%; /* car 2% de chaque côté */
  min-height: 200px;
}


.page-container label {
  width: fit-content;
  padding:5px 10px;
  margin: 1%;
  min-height:30px;
  font-size: 12px;
	color:#000;
  letter-spacing:1px;
	background: #FFF;
  -webkit-transition:all .1s ease-in-out;
	-moz-transition:all .1s ease-in-out;
	-ms-transition:all .1s ease-in-out;
	-o-transition:all .1s ease-in-out;
  transition:all .1s ease-in-out;
  display: inline-flex;

}


.page-container i {
  padding:5px 10px;
}

.long-input {
  width: 30%;
  min-width: 250px;
}

.img-profile {
  margin: 2%;
  display: block;
}

/* Ordinary Button */

.btn {
  border: none;
  border-radius: 18px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  color: white;
  padding: 8px;
  outline: 0;
  width: fit-content;
  display: block;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  background: #1161ed;
} 

.btn:focus {
  outline: none;
}

.btn:hover {
  background: #4082f5;
}

/* Input File Button from Profile */

.input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
  z-index: -1;
}

.input-file + label {
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
  margin:5% auto;
  max-height: 38px;
}

.input-file:focus + label,
.input-file + label:hover {
  background: #d3d5d8;
}
.input-file:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

/* Image from Profile */

#img-avatar {
  padding: 5px;
  margin: auto;
  display: block;
  max-width: 300px;
}

/* Password Button */

#password-btn {
  margin: 2%;
  display: inline-flex;
  max-height: 38px;
}

#consign-passwd {
  padding:  0 10%;
}

/* Save Changes Button */

#save-btn {
  background: #32CD32;
  margin: 5% auto;
} 

#save-btn:hover {
  background: #4082f5;
}

/* Settings Button */

#settings-btn {
  margin: 2%;
  float: right;
  display: inline-flex;
  background: #696969;
  max-height: 38px;
}

#settings-btn:hover {
  background: #c0c0c0;
}

#settings-i {
  vertical-align: middle;
  margin: auto;
  padding: 0 4px;
}

/* Cards Icons */

.cards-container {
  margin-left: 4%;
}

/* Date Input */

#date-exp {
  resize: none;
}

#cvv-info {
  margin-left: 1%;
}

.card-row {
  display: block;
}

#add-card-btn {
  background-color: #808080;
  margin: 2%;
  max-height: 38px;
}

#add-card-btn:hover {
  background: #4082f5;
}

/* Index Title */

#title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    color: white;
    text-decoration: double;
    background-color: purple;
	  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
    padding: 2%;
    text-align: center;
}

/* Grid */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  margin: 2%;
}

.article-container > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  background-color: white;
}

.grid-img {
  background-size: cover;
  width: 100%;
  height: 250px;
}

.grid-text, #destination-text {
  padding: 20px;
}

.grid-description {
  height: 130px;
}

.grid-price, .grid-temp {
  margin-left: 80%;
}

.grid-btn {
  margin: 5% auto;
}

.grid-btn:hover {
  background: #4082f5;
}

/* Destinations */

#destination-image {
  width: 100%;
  height: auto;
  padding-bottom: 0%; /*To avoid too much space between image and place (h2) */
}

.booking-form .checking .check:checked + label{
  color:#000;
}

.form-row {
display: inline-flex;
width: 100%;
justify-content: start;
}

#destination-place {
  margin-top: 0%;
}

#destination-country {
  color: #696969;
}

#breakfast {
  display: none;
}

#breakfast-label {
  color: #000; /* Different than other check label */
  min-width: 200px;
  margin: 5%;
}

#breakfast-label .icon {
  width: 17px;
  height: 17px;
  border: 1px solid blue;
}

#reset-btn {
  background: #696969;
  display: none;
}

#reset-btn:hover {
  background: #c0c0c0;
}

#booking-form-btn * {
  display: inline;
}

/* Tags */

.tag {
  border-radius: 8px;
  background-color: lightgrey;
  text-align: center;
  color: #000;
  padding: 4px;
  margin: 2px;
  outline: 0;
  display: inline-block;
  font-weight: 500;
  font-size: 11px;
}

.tag:hover {
  background: none;
}

/* Cart */
#add-cart-btn {
  display: none;
}

.cart {
  display: block;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  margin: 2%;
}

.cart-article {
  display: inline-flex;
  width: 96%;
}

.cart-article > *{
  padding:5px 10px;
  margin: 1%;
}

.cart-btn {
  text-decoration: none;
  background: #1161ed;
}

.cart-btn:hover {
  background: #4082f5;
}

/* Wrapper */
.wrapper {
  margin: 5% auto;
  position: absolute;
  padding: 2% 0;
  color : white;
}

.wrapper .login {
  width: 50%;
  min-width: 500px;
  margin: auto;
  padding: 5%;
  padding-top: 2%;
  background: url("../images/night.jpg") no-repeat;
  background-size: cover;
  box-shadow: 0px 28px 72px -5px #000;
  transform-style:preserve-3d;
  
}
.wrapper .login .tabs {
  display: flex;
  justify-content: space-between;
}

.wrapper .login .tabs .tab {
  max-width: 40%;
  display: inline-block;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: -1px;
  white-space: nowrap;
  opacity: 0.2; /* A mettre sur tous les élémentsc'est vraiment stylé */
  cursor: pointer;
}
.wrapper .login .tabs .tab.active {
  opacity: 1;
}

.wrapper .login form {
  margin-top: 15%;
}
.wrapper .login form .input {
  position: relative;
}

.wrapper .login #sign_in-tabs {
  display: none;
}

.wrapper .login form .input label {
  position: absolute;
  top: 0;
  left: 0;
  text-transform:uppercase;
  margin-top: -6.42%;
  padding-left: 3.5%;
  font-size: 13px;
  font-weight: 500;
  opacity: 0.5;
  transition: all 0.3s ease;
}
.wrapper .login form .input input {
  width: calc(93% - 4px);
  height: 34px;
  max-width: 93%;
  margin-bottom: 10.5%;
  padding: 0 3.5%;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid transparent;
  font-size: 14px;
  color: #fff;
  transition: all 0.3s ease;
}
.wrapper .login form .input input#password {
  margin-bottom: 7.5%;
}
.wrapper .login form .input input:focus {
  background: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.4);
}
.wrapper .login form .input input:focus + label {
  opacity: 0.7;
}

.wrapper .login form button {
  width: 100%;
  margin: 6.5% 0;
  color: #fff;
  background: #1161ed;
}
.wrapper .login form button:focus {
  outline: none;
}
.wrapper .login form button:hover {
  background: #4082f5;
}
.wrapper .login form .forgot, .wrapper .login form #member {
  width: 100%;
  padding-top: 11.85%;
  font-size: 14px;
  text-align: center;
  opacity: 0.4;
  cursor: pointer;
}

.wrapper .login form .forgot:hover, .wrapper .login form #member:hover {
opacity: 1;}

/* Modal */
.modal {
  display: none; /* Hidden by default */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  z-index: 20; /*20 because topnav is 1 and backToTopBtn is 99*/
}

.wrapper .login h1 {
  padding-bottom: 2%;
}

/* Checkbox */

/* Permet de cacher la checkbox initiale */
.check {
  display: none;
}

.checking label .icon{
  width:15px;
  height:15px;
  margin-right: 2%;
  border-radius:2px;
  position:relative;
  display:inline-block;
  background:rgba(255,255,255,.1);
}
.checking label .icon:before,
.checking label .icon:after{
  content:'';
  width:10px;
  height:2px;
  background:#fff;
  position:absolute;
  transition:all .2s ease-in-out 0s;
}
.checking label .icon:before{
  left:3px;
  width:5px;
  bottom:6px;
  transform:scale(0) rotate(0);
}
.checking label .icon:after{
  top:6px;
  right:0;
  transform:scale(0) rotate(0);
}
.checking .check:checked + label{
  color:#fff;
}
.checking .check:checked + label .icon{
  background: #1161ed;
}
.checking .check:checked + label .icon:before{
  transform:scale(1) rotate(45deg);
}
.checking .check:checked + label .icon:after{
  transform:scale(1) rotate(-45deg);
}

/* Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* About */

.about-title {
  text-align: center;
  margin-top: 1%;
}

#about-grid-who {
  width : 100%;
  display: grid;
  grid-template-columns: 50% 50%; 
  padding : 1% 1% 2% 1%;
  justify-content: space-between;
  align-content: space-between;
}

.about-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width : 100%;
}



.about-container>p,  
.about-container>h2 {
  overflow-wrap: break-word;
  padding: 5px;
  margin: 8px;
}

.about-img {
  display: block; 
  margin-left: auto;
  margin-top:2%;
  margin-right: auto;
}

#about-grid-contact {
  width : 100%;
  display: grid;
  grid-template-columns: 30% 30% 30%; 
  padding : 1% 1% 4% 1%;
  justify-content: space-between;
  align-content: space-between;
}

.about-contact>p,
.about-contact>h3 {
  margin-top: 2px;
  margin-left: 2%;
  text-align: center;
}

.contact-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
	background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.contact-button:hover {
	background-image: linear-gradient(0, #2376ae 0%, #c16ecf 100%);
}


/* backToTopBtn */

#backToTopBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  background: #696969; /* Set a background color */
  border-radius: 20px; /* Rounded corners */
  width: 40px;
  height: 40px;
}

#backToTopBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* Footer */

#footer {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 1% 3%;
  display:table;
  overflow: hidden;
  position: absolute;
}

#footer .box-row {
  display:table-row;
}

#footer .box-row>* {
  display:table-cell
}

#footer .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}

#footer .footer-center p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}

/* Footer links */

.footer-a {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  display: inline-block;
  margin: 0 0 10px;
  line-height: 1.8;
  text-decoration: none;
}

.footer-a:before {
  content: "‎•";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-a:hover {
text-decoration: underline;
}


#footer .footer-links {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

#footer .footer-links a {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

#footer .footer-links a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

#footer p.footer-a a:hover{text-decoration:underline;}

/* Font Awesome */

.footer-links>i {
	color: white;
}

.facebook-link {
	background: #3B5998;
}

.twitter-link {
	background: #55ACEE;
}

.linkedin-link {
  background: #007bb5;
}

.github-link {    
	background: #2c4762;
}

.fa-trash:hover {
  color: red;
  cursor: pointer;
}

.fa-eye:hover {
  color: #1161ed;
  cursor: pointer;
}

/* Media Queries */

@media screen and (max-width: 870px) {
  #topnav a:not(:first-child) {display: none;}
  #topnav a.icon {
    float: right;
    display: block;
  }

  .search, #topnav .search-form {
    display: none;
  }

  #topnav.responsive {
    position: fixed;
    width:100%;
    top: 0;
  }
  
  #topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  #topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  #about-grid-who {
    display: block;
  }
  .about-card {
    margin-top: 2%;
    padding: 1%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .about-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
  }

  .about-container {
    display: block;
  }

  .about-cont {
    margin : 5%;
    padding: 5%;
  }

  .page-container{
    display: block;
    margin: auto;
  }

  #about-grid-contact {
    display: block;
  }

  #footer * {
    text-align: center;
  }

  #footer .footer-links {
    float: none;
    margin: 0 auto 20px;
  }

  #footer .footer-left p.footer-a {
    line-height: 1.8;
  }
}